@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Ubuntu+Mono&display=swap');

.tips li {
  list-style-image: url("bulb-icon.png");
}

em {
  color: white;
  background-color: rgba(52, 73, 94,0.7);
  padding: .2em;
  border-radius: 3px;
  font-style: normal;
  font-family: 'Courier Prime', monospace;
}

code {
  color: white;
  background-color: rgba(155, 89, 182,.7);
  padding: .2em;
  border-radius: 3px;
  font-style: normal;
  font-family: 'Courier Prime', monospace;
}


pre {
  font-family: 'Ubuntu Mono', monospace;
}

#td2 {
  display: none;
}
